@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

/* make the button change color when hover and maybe grow bigger?*/
body{
    font-family: 'Lato', sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #F5F7FA;
}

nav{
    width: 100%;
    height: 50px;
    background: linear-gradient(to left, #1447A1,  #016EB9);
}
.container{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background: linear-gradient(to left, #1447A1,  #016EB9);
    color:white;
}
.banner img{
    border-radius: 50%;
}

.banner h2, h1{
    font-weight: 400;
    margin: 0;
}

.banner h2{
    margin-top: 1em;;
    margin-bottom: 0.5em;
}

.banner h1{
    margin-bottom: 1em;;
}

#resumeBtn{
   width: 130px;
   margin-bottom: 2em;
   text-transform: uppercase;
   background-color: #007be7;


}

.projectSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
    color: #0079C5;
} 

.projectCard{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 300px;
}



.projectCard p{
    opacity: 0.7;
}

.projectCard img{
    width: 100%;
}


.projectVid{
    display: block;
    width: 100%;
}
.projectCardContent{
    padding: 1em;
}

.projectCardContent p{
    line-height: 1.5em;
}
.projectCardTitle{
    text-align: center;
    color: #103082;
}

.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.viewProjectBtn, .viewResume{
    background-color: #0070BA;
    border: none; 
    color: white;
    padding: 1em;
    border-radius: 5px;
}

.viewProjectBtn:hover, .btnContainer button:hover{
    background-color: #33aeff;


}


.cardIconContainer img{
    margin: 0;
    padding: 0;
    width: 100%;
}
.cardIconContainer{
    width: 80px;
}


.emailFormSection{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1em;
    margin: 0;
    margin-top: 3em;
    margin-bottom: 3em;
}

.emailFormSection h1{
    text-align: center;
    margin-bottom: 1.5em;
    font-weight: bold;
    color: #0079C5;
    font-size: 2em;
    margin-top: 1em;
    width: 280px;
}


.emailInputContainer{
    padding-bottom: 1.5em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
}

.centerForm{
    background: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{

    margin-bottom: 0.5em;
    font-size: 14px;
    color: #3068a1;
    font-weight: bold;
}

.emailAlignContainer{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    justify-content: center;
}

.emailInputContainer input{

    /* background: #eaedf3; */
    border-bottom: 1px solid black;
    margin-bottom: 1em;

    
}

.nameInput{
    width: 150px;
}

.nameInput, .emailInput, .subjectInput{
    border: none;
    padding: 0.5em
    /* border: 1px solid lightgray; */
}

.emailInput, .subjectInput{
    width: 200px;
}

.emailMsgContainer textarea{
    margin-top: 0.5em;
    border: none;
    border-bottom: 1px solid black;
    display: block;
    height: 100px;
    width: 200px;
    
}


.btnContainer{
    display: flex;
    padding: 1em;
    justify-content: flex-end;
}

.btnContainer button{
    padding: 1em;
    margin-top: 1em;
    width: 100px;
    background: #007be7;;
    border: none;
    color: white;
    border-radius: 5px;
}

footer{
    width: 100%;
    height: 100px;
    background: #104fa6;
}

@media only screen and (min-width: 700px)
{
    .projectSection{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

   }

   .nameInput{
       width: 200px;
   }

   .emailFormSection{
       width: 500px;

   }
   .emailFormSection form{
       width: 100%;
   }

    .emailInput, .subjectInput{
        width: 300px;
    }

    .emailMsgContainer textarea{
        margin-top: 0.5em;
        display: block;
        width: 300px;
        
    }


   .projectCard{
       margin-right: 1em;
   }

}

    